$color-bckg: #040C18;
$color-footer: #031B34;
$color-blog: #042c54;
$color-text: #81AFDD;
$color-subtext:#FF8A71;

$font: 'Raleway', sans-serif;

$gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
$gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*  {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: $color-bckg;
    font-family: $font;
}

a {
    color: unset;
    text-decoration: none;
}

.gradient-bg {
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 100%);
    
}
.gradient-text {
  background: $gradient-text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.section-padding {
  padding: 4rem 6rem;
}

.section-margin {
  margin: 4rem 6rem;
}

@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
  
@mixin button($border-radius) {
  border-radius: $border-radius;
  background: #ff4820;
  padding: 0.5rem 1rem;
  color: #fff;
  font-family: $font;
  font-weight: 500;
  font-size: 1.125rem;
  border: 0;
  outline: none;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
  
  p {
    color: #fff;
    font-family: $font;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5625rem;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;
  }
  button {
    @include button(.3125rem);
  }
  &-links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &-links-logo {
    margin-right: 2rem;

    img {
      width: 3.875rem;
      height: 1rem;
    }
  }

  &-links-container {
    display: flex;
    flex-direction: row;
  }

  &-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-menu {
    margin-left: 1rem;
    
    display: none;
    position: relative;

    svg {
      cursor: pointer;
    }
  }

  &-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
    background: $color-footer;
    padding: 2rem;
    position: absolute;
    top: 2.5rem;
    right: 0;
    margin-top: 1rem;
    min-width: 13.125rem;
    border-radius: .3125rem;
    box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
    p {
      margin: 1rem 0;
    }
    &-sign {
      display: none;
    }
  }
}

.header {
  display: flex;
  flex-direction: row;
  &-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
    margin-right: 5rem;

    h1 {
      font-family: $font;
      font-weight: 800;
      font-size: 3.875rem;
      line-height: 4.6875rem; 
      letter-spacing: -0.155rem;
    }
    p {
      color: $color-text;
      font-family: $font;
      font-size: 1.25rem;
      font-style: normal;
      font-weight: 400;
      margin-top: 1.5rem;
    }
    &-input {
      width: 100%;
      margin: 2rem 0 1rem;
      display: flex;
      
      input {
        font-family: $font;
        font-size: 1.25rem;
        color: #fff;
        line-height: 1.75rem;
        flex: 2;
        width: 100%;
        min-height: 3.125rem;
        background: $color-footer;
        padding: 0 1rem;
        border: .125rem solid $color-footer;
        border-radius: 0.3125rem 0rem 0rem 0.3125rem;
        outline: none;
      }
      button {
        @include button(0 .3125rem .3125rem 0 );
        flex: 0.6;
        width: 100%;
        min-height: 3.125rem;
      }
    }
    &-ppl {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 2rem;

      img {
        width: 11.3619rem;
        height: 2.375rem;
      }
      p {
        margin: 0 0 0 1rem;
        font-family: $font;
        font-weight: 500;
        font-size: .75rem;
        line-height: 2.375rem;
        color: #fff;
        text-align: center;
      }
    }
  }
  &-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.brand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.91rem;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 9.375rem;
    min-width: 7.5rem;
  }
}

.whatgpt {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: $color-footer;
  
   /* ff 3.6+ */
   background:-moz-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

   /* safari 5.1+,chrome 10+ */
   background:-webkit-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

   /* opera 11.10+ */
   background:-o-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

   /* ie 10+ */
   background:-ms-radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

   /* global 92%+ browsers support */
   background:radial-gradient(circle at 30% -100%, #042c54 25%, rgba(4, 44, 84, 1) 85%, rgba(27, 120, 222, 1) 100%);

   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  &-feature {
    display: flex;
    margin: 0;
    max-width: 43.75rem;
  }
  &-feature .feature-container {
    margin: 0;
  }
  &-feature .feature-container-text {
    max-width: 43.75rem;
  }
  &-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
    h1 {
      font-size: 2.125rem;
      line-height: 45px;
      font-weight: 800;
      max-width: 31.875rem;
    }
    p {
      color: $color-subtext;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.875rem;
      cursor: pointer;
    }
  }
  &-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
  }
  &-container .feature-container {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
  }
  &-container .feature-container-text {
    margin-top: 0.5rem;
  }
}

.feature-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;

  margin: 1rem;
  &-title {
    flex: 1;
    max-width: 11.25rem;
    margin-right: 2rem;
    div {
      width: 2.375rem;
      height: .1875rem;
      background: $gradient-bar;
      box-shadow: 0rem .25rem  .25rem rgba(0, 0, 0, 0.25);
      margin-bottom: 0.25rem;
    }
    h1 {
      font-weight: 800;
      font-size: 1.125rem;
      line-height: 1.5rem;
      letter-spacing: -0.04em;
      color: #fff;
    }
  }
  &-text {
    flex: 2;
    max-width: 24.375rem;
    display: flex;
    p {
      font-weight: 500;
      font-size: .875rem;
      line-height: 1.5rem;
      color: $color-text;
    }
  }
}

.features {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  &-heading {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    margin-right: 5rem;

    h1 {
      font-size: 2.125rem;
      line-height: 2.8125rem;
      font-weight: 800;
    }
    p {
      font-size: 1rem;
      line-height: 1.875rem;
      margin-top: 2rem;
    }
  }
  &-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

.possibility {
  display: flex;
  flex-direction: row;
  &-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    h4 {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.875rem;
      color: #71E5FF;
    }
    h4:last-child {
      color: #ff8A71;
    }
    h1 {
      font-weight: 800;
      font-size: 2.125rem;
      line-height: 2.8125rem;
      margin: 1rem 0;
    }
    p {
      color: $color-text;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.875rem;
      margin-bottom: 2rem;
    }
  }
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: $gradient-bar;

  &-content {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #fff;
    p {
      font-size: .75rem;
      line-height: 1.875rem;
      font-weight: 500;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 2.8125rem;
      font-weight: 800;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    button {
      background: #000;
      color: #fff;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.875rem;
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      border: none;
      outline: none;
      cursor: pointer;
      min-width: 9.375rem;
      font-family: $font;
    }
  }
}

.article-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $color-footer;

  &-image {
    width: 100%;
    height: 100%;
    background: $color-bckg;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    height: 100%;

    p{
      font-size: .73rem;
      font-weight: 700;
      line-height: 2.1875rem;
      color:#fff;
    }

    h3 {
      font-size: 1.57rem;
      font-weight: 800;
      line-height: 1.875rem;
      color: #fff;
      margin-bottom: 5rem;
      cursor: pointer;
    }

    p:last-child {
      cursor: pointer;
    }
  }
}

.blog {
  display: flex;
  flex-direction: column;
  &-heading {
    width: 100%;
    text-align: left;
    margin-bottom: 5rem;
    h1 {
      font-size: 3.875rem;
      line-height: 4.6875rem;
      font-weight: 800;
    }
  }
  &-container {
    display: flex;
    flex-direction: row;
    &-full {
      flex: 0.75;
      margin-right: 2rem;
    }
    &-wrap {
      flex: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $color-footer;
  &-heading {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    h1 {
      font-weight: 800;
      font-size: 4rem;
      line-height: 4.6875rem;
    }
  }
  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid #fff;
    text-align: center;
    margin-bottom: 10rem;
    cursor: pointer;
    p {
      font-size: 1.125rem;
      font-family: $font;
      line-height: 1.3125rem;
      color: #fff;
      word-spacing: .125rem;
    }
  }
  &-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    div {
      width: 13rem;
      margin: 1rem;
    }
    &-logo {
      display: flex;
      flex-direction: column;
      img {
        width: 7.375rem;
        height: 1.875rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: .75rem;
        line-height: .9375rem;
        color: #fff;
      }
    }
    &-div {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      h4 {
        font-size: .875rem;
        line-height: 1.0625rem;
        color: #fff;
        margin-bottom: 0.9rem;
      }
      p, a {
        font-size: .75rem;
        line-height: .9375rem;
        color: #fff;
        margin: 0.5rem 0;
        cursor: pointer;
      }
      a {
        text-decoration: underline;
      }
    }
  }
  &-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    p {
      font-size: .75rem;
      line-height: .9375rem;
      color: #fff;
    }
  }
}

@media screen and (max-width: 1050px) {
  .navbar {
    &-links-container {
      display: none;
    }
    &-menu {
      display: flex;
    }
  }
  .header {
    flex-direction: column;
    &-content {
      margin: 0 0 3rem;
    }
  }
  .whatgpt {
    &-heading {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 0rem;
      p {
        margin-top: 1rem;
      }
    }
  }
  .features {
    flex-direction: column;
    &-heading {
      margin: 0 0 2rem 0;
    }
  }
  .possibility {
    flex-direction: column;
    &-image {
      margin: 1rem 0;
    }
    &-content {
      margin-top: 2rem;
    }
  }
  .blog-container-full .article-container {
    width: 48%;
  }
  .blog-container-full .article-container-image {
    height: 15.625rem;
  }
  .blog-container {
    flex-direction: column-reverse;
    &-full {
      margin: 2rem 0;
    }
  } 
  .footer-heading h1 {
    font-size: 2.75rem;
    line-height: 3.125rem;
  }
}

@media screen and (max-width: 700px) {
  .section-padding {
    padding: 4rem;
  }
  .section-margin {
    margin: 4rem;
  }
  .navbar {
    padding: 2rem 4rem;
  }
  .header {
    h1 {
      font-size: 3rem;
      line-height: 3.75rem;
    }
    p {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    &-content-ppl {
      flex-direction: column;
      p {
        margin: 0;
      }
    }
    input, button {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  .whatgpt {
    &-feature .feature-container {
      flex-direction: column;
    } 
    &-feature .feature-container-text {
      margin-top: 0.5rem;
    }
    &-heading h1 {
      font-size: 1.75rem;
      line-height: 2.5rem;
    }
  }
  .possibility {
    &-image img {
      width: 100%;
      height: 100%;
    }
  }
  .cta {
    flex-direction: column;
    &-btn {
      margin: 2rem 0 0;
    }
  }
  .blog-container-full .article-container {
    width: 100%;
  }
  .blog {
    &-heading h1 {
      font-size: 2.875rem;
      line-height: 3.25rem;
    }
    &-container-wrap {
      grid-template-columns: repeat(1, 1fr);
    }
    &-container-full {
      width: 100%;
    }
  }
}

@media screen and (max-width: 550px) {
  .section-padding {
    padding: 4rem 2rem;
  }
  .section-margin {
    margin: 4rem 2rem;
  }  
  .navbar {
    padding: 2rem;

    &-sign {
      display: none;
    }
    &-menu-container {
      top: 1.25rem;
      &-sign {
        display: block;
      }
    }
  }
  .header {
    h1 {
      font-size: 2.400px;
      line-height: 3rem;
    }
    p {
      font-size: .875rem;
      line-height: 1.5rem;
    } 
    input, button {
      font-size: .75rem;
      line-height: 1rem;
    }
  }
  .whatgpt {
    &-container .feature-container{
      margin: 1rem 0;
      min-width: 100%;
    }
  }
  .feature-container {
    margin: 1rem 0;
    &-title h1 {
      font-size: .875rem;
      line-height: 1.375rem;
    }
    &-text p {
      font-size: .75rem;
      line-height: 1.25rem;
    }
  }
  .features {
    h1 {
      font-size: 1.75rem;
      line-height: 2.375rem;
    }
  }
  .cta {
    flex-direction: column;
    margin: 4rem 2rem;
    h3 {
      font-size: 1.125rem;
      line-height: 2rem;
    }
    button {
      font-size: .875rem;
      line-height: 1.75rem;
    }
  }
  .article-container h3{
      font-size: 1.125rem;
      line-height: 1.5625rem;
  }
  .blog {
    &-heading h1 {
      font-size: 2.125rem;
      line-height: 2.625rem;
    }
  }
  .footer {
    &-heading h1 {
      font-size: 2.125rem;
      line-height: 2.625rem;
    }
    &-links div {
      margin: 1rem 0;
    }
    &-btn p {
      font-size: .875rem;
      line-height: 1.25rem;
    }
  }
}